table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
	font: normal 11px Tahoma,Arial,Helvetica,sans-serif;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
	font: bold 11px Tahoma,Arial,Helvetica,sans-serif;
}

table.detail-view tr.odd
{
	background:#E1F5BF;
}

table.detail-view tr.even
{
	background:#EAF5BF;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
