    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-100-percent-zoom-symbol:before { content: "\f100"; }
.flaticon-alien-outline-in-a-circle:before { content: "\f101"; }
.flaticon-ascendant-line-graphic-on-a-browser-window-inside-a-circle:before { content: "\f102"; }
.flaticon-backup-thin-outline-symbol-in-a-circle:before { content: "\f103"; }
.flaticon-basket-commercial-symbol:before { content: "\f104"; }
.flaticon-battery-outline-in-a-circle:before { content: "\f105"; }
.flaticon-battery-thin-outline-symbol-in-a-circle:before { content: "\f106"; }
.flaticon-bricks-outline-symbol-inside-a-circle:before { content: "\f107"; }
.flaticon-briefcase-in-a-circle:before { content: "\f108"; }
.flaticon-briefcase-thin-outline-symbol-in-a-circle:before { content: "\f109"; }
.flaticon-browser-cash-symbol-thin-outline-inside-a-circle:before { content: "\f10a"; }
.flaticon-browser-chain-symbol:before { content: "\f10b"; }
.flaticon-browser-circular-symbol:before { content: "\f10c"; }
.flaticon-browser-code-outline-symbol-in-a-circle:before { content: "\f10d"; }
.flaticon-browser-download-symbol-in-a-circle:before { content: "\f10e"; }
.flaticon-browser-download-symbol-in-a-circle-1:before { content: "\f10f"; }
.flaticon-browser-search-symbol-in-a-circle:before { content: "\f110"; }
.flaticon-browser-search-symbol-in-a-circle-1:before { content: "\f111"; }
.flaticon-browser-setting-interface-circular-symbol-of-a-wrench-in-a-window-outlines-inside-a-circle:before { content: "\f112"; }
.flaticon-browser-setting-thin-outline-symbol-in-a-circle:before { content: "\f113"; }
.flaticon-browser-settings-circular-interface-symbol:before { content: "\f114"; }
.flaticon-browser-settings-circular-symbol:before { content: "\f115"; }
.flaticon-browser-settings-outline-interface-symbol-in-a-circle:before { content: "\f116"; }
.flaticon-browser-settings-symbol-inside-a-circle:before { content: "\f117"; }
.flaticon-browser-settings-with-window-and-cogwheel-inside-a-circle:before { content: "\f118"; }
.flaticon-browser-window-in-a-circle:before { content: "\f119"; }
.flaticon-browser-window-with-a-settings-gear-and-a-right-arrow-inside-a-circle:before { content: "\f11a"; }
.flaticon-browser-window-with-business-graphic-in-a-circle:before { content: "\f11b"; }
.flaticon-browser-window-with-code-signs-in-a-circle:before { content: "\f11c"; }
.flaticon-browser-with-a-heart-symbol-inside-a-circle:before { content: "\f11d"; }
.flaticon-browser-with-text-and-pen-tool-variant:before { content: "\f11e"; }
.flaticon-browsers-windows-in-a-circle:before { content: "\f11f"; }
.flaticon-business-bars-graphic:before { content: "\f120"; }
.flaticon-businessman-with-ascending-arrow-stair-in-a-circle:before { content: "\f121"; }
.flaticon-cellphone-variant-with-cogwheel-symbol-in-a-circle:before { content: "\f122"; }
.flaticon-cellphone-with-cogwheel-outline-inside-a-circle:before { content: "\f123"; }
.flaticon-chain-links-symbol-with-plus-signs-in-a-circle:before { content: "\f124"; }
.flaticon-circles-circle-outline-interface-circular-symbol:before { content: "\f125"; }
.flaticon-circles-interface-symbol-in-a-circle-for-seo:before { content: "\f126"; }
.flaticon-circular-eyeglasses-inside-a-circle:before { content: "\f127"; }
.flaticon-circular-graphic-outline-interface-symbol-in-a-circle:before { content: "\f128"; }
.flaticon-cloud-laptop:before { content: "\f129"; }
.flaticon-cloud-wifi-connection-circular-symbol:before { content: "\f12a"; }
.flaticon-code-info-symbol-in-a-circle:before { content: "\f12b"; }
.flaticon-coffee-cup-in-a-circle:before { content: "\f12c"; }
.flaticon-computer-cash-interface-symbol:before { content: "\f12d"; }
.flaticon-computer-cash-symbol-in-a-circle:before { content: "\f12e"; }
.flaticon-computer-graphic-on-a-monitor-outline-symbol-in-a-circle-for-interface:before { content: "\f12f"; }
.flaticon-computer-outline-symbol-inside-a-circle:before { content: "\f130"; }
.flaticon-computer-setting-outline-interface-symbol-in-a-circle:before { content: "\f131"; }
.flaticon-computers-monitors:before { content: "\f132"; }
.flaticon-conversation-bubbles-in-a-circle:before { content: "\f133"; }
.flaticon-conversation-circular-symbol:before { content: "\f134"; }
.flaticon-dropbox-in-browser-variant-inside-circle:before { content: "\f135"; }
.flaticon-dropbox-in-browser-window-circular-symbol:before { content: "\f136"; }
.flaticon-e-book-outline-interface-symbol-in-a-circle:before { content: "\f137"; }
.flaticon-eye-watching:before { content: "\f138"; }
.flaticon-eyeglasses-of-circular-outline-in-a-circle:before { content: "\f139"; }
.flaticon-favourite-browser-symbol-in-a-circle:before { content: "\f13a"; }
.flaticon-film-strip-photograms-inside-a-circle:before { content: "\f13b"; }
.flaticon-folder-outline-inside-a-circle:before { content: "\f13c"; }
.flaticon-graphic-in-a-circle:before { content: "\f13d"; }
.flaticon-graphic-with-ascending-line-inside-a-circle:before { content: "\f13e"; }
.flaticon-hand-cash-circular-symbol:before { content: "\f13f"; }
.flaticon-hard-drive-circular-symbol:before { content: "\f140"; }
.flaticon-html-seo-interface-symbol:before { content: "\f141"; }
.flaticon-http-search-symbol:before { content: "\f142"; }
.flaticon-info-circular-symbol:before { content: "\f143"; }
.flaticon-key-outline-password-interface-symbol-inside-a-circle:before { content: "\f144"; }
.flaticon-key-password-interface-symbol-in-a-circle:before { content: "\f145"; }
.flaticon-label-inside-a-circle:before { content: "\f146"; }
.flaticon-laptop-graphic:before { content: "\f147"; }
.flaticon-laptop-on-cloud-thin-outline-symbol-in-a-circle:before { content: "\f148"; }
.flaticon-laptop-with-up-arrows-seo-symbol-for-interface:before { content: "\f149"; }
.flaticon-light-bulb-outline-sign-inside-a-circle:before { content: "\f14a"; }
.flaticon-light-circular-symbol:before { content: "\f14b"; }
.flaticon-lightbulb-on-outline-inside-a-circle:before { content: "\f14c"; }
.flaticon-lightbulb-outline-in-a-circle:before { content: "\f14d"; }
.flaticon-like-hand-symbol-in-a-circle:before { content: "\f14e"; }
.flaticon-like-hand-symbol-in-a-circle-1:before { content: "\f14f"; }
.flaticon-line-graphic-on-a-computer-monitor-in-a-circle:before { content: "\f150"; }
.flaticon-line-graphic-on-a-monitor-screen-outline-in-a-circle:before { content: "\f151"; }
.flaticon-link-seo-symbol-for-interface-in-a-circle:before { content: "\f152"; }
.flaticon-links-add-symbol-in-a-circle:before { content: "\f153"; }
.flaticon-lock-on-cloud-symbol-outline-inside-a-circle:before { content: "\f154"; }
.flaticon-lock-settings-interface-circular-symbol:before { content: "\f155"; }
.flaticon-loudspeaker:before { content: "\f156"; }
.flaticon-mail-and-phone-outline-symbol-in-a-circle:before { content: "\f157"; }
.flaticon-map-outline-inside-a-circle:before { content: "\f158"; }
.flaticon-map-placeholder-on-globe-grid:before { content: "\f159"; }
.flaticon-map-with-a-pin-small-symbol-inside-a-circle:before { content: "\f15a"; }
.flaticon-measure-folder-interface-outline-symbol-inside-a-circle:before { content: "\f15b"; }
.flaticon-microphone-outline-symbol-in-a-circle:before { content: "\f15c"; }
.flaticon-monitor-and-cellphone-outlines-in-a-circle:before { content: "\f15d"; }
.flaticon-network-outline-symbol-in-a-circle:before { content: "\f15e"; }
.flaticon-network-triangular-outline-symbol-in-a-circle:before { content: "\f15f"; }
.flaticon-no-disturb-symbol-in-a-circle:before { content: "\f160"; }
.flaticon-open-blank-browser-inside-a-circle:before { content: "\f161"; }
.flaticon-open-book-outline-variant-inside-a-circle:before { content: "\f162"; }
.flaticon-open-browser-window-with-text:before { content: "\f163"; }
.flaticon-people-group-in-a-circle:before { content: "\f164"; }
.flaticon-people-mail-symbol-in-a-circle:before { content: "\f165"; }
.flaticon-people-outlines-in-a-circle:before { content: "\f166"; }
.flaticon-people-reward-symbol-inside-a-circle:before { content: "\f167"; }
.flaticon-people-speaking-outline-symbol-inside-a-circle:before { content: "\f168"; }
.flaticon-person-and-connections-outline-symbol-inside-a-circle:before { content: "\f169"; }
.flaticon-person-in-front-of-the-world-grid-inside-a-circle:before { content: "\f16a"; }
.flaticon-person-or-personal-setting-outline-symbol-in-a-circle:before { content: "\f16b"; }
.flaticon-person-or-personal-synchronization-circular-symbol:before { content: "\f16c"; }
.flaticon-person-outline-with-cogwheel-symbol:before { content: "\f16d"; }
.flaticon-person-search-symbol-in-a-circle:before { content: "\f16e"; }
.flaticon-person-security-symbol:before { content: "\f16f"; }
.flaticon-person-settings-outline-symbol-of-seo-for-interface:before { content: "\f170"; }
.flaticon-person-speaking-symbol-in-a-circle:before { content: "\f171"; }
.flaticon-person-speech-circular-symbol:before { content: "\f172"; }
.flaticon-person-synchronization-symbol-in-a-circle:before { content: "\f173"; }
.flaticon-person-with-a-cellphone-inside-a-circle:before { content: "\f174"; }
.flaticon-person-with-a-huge-clock-outlines-in-a-circle:before { content: "\f175"; }
.flaticon-person-with-an-opened-email-envelope-inside-a-circle:before { content: "\f176"; }
.flaticon-person-with-calendar-inside-a-circle:before { content: "\f177"; }
.flaticon-person-with-headset-thin-outline-symbol-in-a-circle:before { content: "\f178"; }
.flaticon-person-with-speaker-making-announcement-outline-inside-a-circle:before { content: "\f179"; }
.flaticon-person-with-up-arrow-thin-outline-circular-symbol:before { content: "\f17a"; }
.flaticon-person-with-up-arrows-outline-symbol-in-a-circle:before { content: "\f17b"; }
.flaticon-personal-mail-circular-symbol:before { content: "\f17c"; }
.flaticon-phone-and-computer-monitor-outlines-inside-a-circle:before { content: "\f17d"; }
.flaticon-phone-outline-in-a-circle:before { content: "\f17e"; }
.flaticon-pie-chart-in-a-circle:before { content: "\f17f"; }
.flaticon-pie-circular-graphic-with-bars-in-the-center-part-thin-symbol-outline-inside-a-circle:before { content: "\f180"; }
.flaticon-plugs-connection-outline-symbol-in-a-circle:before { content: "\f181"; }
.flaticon-points:before { content: "\f182"; }
.flaticon-puzzle-piece-outline-inside-a-circle:before { content: "\f183"; }
.flaticon-question-sign-in-circles:before { content: "\f184"; }
.flaticon-receiving-hand-outline-with-palm-up-inside-a-circle:before { content: "\f185"; }
.flaticon-recycle-bin-outline-symbol-inside-a-circle:before { content: "\f186"; }
.flaticon-reward-symbol-in-a-circle:before { content: "\f187"; }
.flaticon-robot-outline-in-a-circle:before { content: "\f188"; }
.flaticon-safebox-outline-variant-inside-a-circle:before { content: "\f189"; }
.flaticon-science-inbox-symbol-in-a-circle:before { content: "\f18a"; }
.flaticon-screen-symbol-outline-in-a-circle:before { content: "\f18b"; }
.flaticon-search-circular-symbol-with-letters:before { content: "\f18c"; }
.flaticon-search-engine-optimization-drive:before { content: "\f18d"; }
.flaticon-search-interface-circular-symbol:before { content: "\f18e"; }
.flaticon-search-key:before { content: "\f18f"; }
.flaticon-search-key-symbol-in-a-circle:before { content: "\f190"; }
.flaticon-search-text-symbol-in-a-circle:before { content: "\f191"; }
.flaticon-seo-graphic-thin-outline-in-a-circle:before { content: "\f192"; }
.flaticon-seo-label-in-a-circle:before { content: "\f193"; }
.flaticon-seo-label-tag-inside-a-circle:before { content: "\f194"; }
.flaticon-seo-landing-pages-symbol-inside-a-circle:before { content: "\f195"; }
.flaticon-seo-outline-symbol-in-a-circle:before { content: "\f196"; }
.flaticon-seo-search-symbol:before { content: "\f197"; }
.flaticon-seo-shopping-symbol:before { content: "\f198"; }
.flaticon-seo-up-arrows-symbol-in-a-circle:before { content: "\f199"; }
.flaticon-server-outline-symbol-in-a-circle:before { content: "\f19a"; }
.flaticon-settings-console-outline-symbol-in-a-circle:before { content: "\f19b"; }
.flaticon-settings-gear-symbol-outline-in-a-circle:before { content: "\f19c"; }
.flaticon-settings-gears-outlines-interface-symbol:before { content: "\f19d"; }
.flaticon-settings-interface-symbol-variant-in-a-circle:before { content: "\f19e"; }
.flaticon-settings-symbol-with-up-arrow-in-a-circle:before { content: "\f19f"; }
.flaticon-settings-thin-console-controls-symbol-in-a-circle:before { content: "\f1a0"; }
.flaticon-shop-settings-circular-symbol:before { content: "\f1a1"; }
.flaticon-shop-with-cart-in-window-inside-a-circle:before { content: "\f1a2"; }
.flaticon-shopping-basket-configuration-outline-interface-symbol-in-a-circle:before { content: "\f1a3"; }
.flaticon-shopping-basket-in-a-circle:before { content: "\f1a4"; }
.flaticon-skull-outline-with-arroba-sign-in-a-circle:before { content: "\f1a5"; }
.flaticon-small-person-in-a-circle-surrounded-by-arrows-circular-interface-symbol:before { content: "\f1a6"; }
.flaticon-speech-bubble-with-person-inside-a-circle:before { content: "\f1a7"; }
.flaticon-speech-bubbles-outline-symbol-in-a-circle:before { content: "\f1a8"; }
.flaticon-stars-label-outline-symbol-in-a-circle:before { content: "\f1a9"; }
.flaticon-stocks-graphic-in-a-circle:before { content: "\f1aa"; }
.flaticon-target-outline-symbol-in-a-circle:before { content: "\f1ab"; }
.flaticon-target-outline-symbol-inside-a-circle:before { content: "\f1ac"; }
.flaticon-target-search:before { content: "\f1ad"; }
.flaticon-target-square-sign-inside-a-circle:before { content: "\f1ae"; }
.flaticon-target-symbol-in-a-circle:before { content: "\f1af"; }
.flaticon-teacher-teaching-to-the-class-circular-symbol:before { content: "\f1b0"; }
.flaticon-touch-screen-symbol-in-a-circle:before { content: "\f1b1"; }
.flaticon-usb-connector-thin-outline-symbol-in-a-circle:before { content: "\f1b2"; }
.flaticon-video-player-outline-interface-symbol-inside-a-circle:before { content: "\f1b3"; }
.flaticon-wallet-outline-in-a-circle:before { content: "\f1b4"; }
.flaticon-wifi-outline-symbol-in-a-circle:before { content: "\f1b5"; }
.flaticon-window-with-a-pencil-in-a-circle:before { content: "\f1b6"; }
.flaticon-wireless-internet-connection-symbol:before { content: "\f1b7"; }
.flaticon-wireless-search-symbol-in-a-circle:before { content: "\f1b8"; }
.flaticon-wireless-target-outline-symbol-in-a-circle:before { content: "\f1b9"; }
.flaticon-world-browser-interface-symbol-in-a-circle:before { content: "\f1ba"; }
.flaticon-world-browser-outline-symbol-in-a-circle:before { content: "\f1bb"; }
.flaticon-world-browser-settings-symbol:before { content: "\f1bc"; }
.flaticon-world-connection-symbol-in-a-circle:before { content: "\f1bd"; }
.flaticon-world-globe-surrounded-by-arrows-circle:before { content: "\f1be"; }
.flaticon-world-grid-and-a-browser-window-inside-a-circle:before { content: "\f1bf"; }
.flaticon-world-grid-outline-with-drive-and-arrow:before { content: "\f1c0"; }
.flaticon-world-grid-with-cogwheels-inside-a-circle:before { content: "\f1c1"; }
.flaticon-world-grid-with-open-browser-in-a-circle:before { content: "\f1c2"; }
.flaticon-world-inside-a-cogwheel-in-a-black-circle:before { content: "\f1c3"; }
.flaticon-world-net-circular-symbol:before { content: "\f1c4"; }
.flaticon-world-person-outline-symbol-in-a-circle:before { content: "\f1c5"; }
.flaticon-world-security-circular-symbol:before { content: "\f1c6"; }
.flaticon-world-security-symbol-inside-circle:before { content: "\f1c7"; }
.flaticon-world-settings-circular-symbol:before { content: "\f1c8"; }
.flaticon-world-settings-symbol-in-a-circle:before { content: "\f1c9"; }
.flaticon-world-surrounded-by-arrows-in-all-directions:before { content: "\f1ca"; }
.flaticon-world-with-a-pin-symbol-in-a-circle:before { content: "\f1cb"; }
.flaticon-worm-outline-inside-a-circle:before { content: "\f1cc"; }
.flaticon-wrench-and-hammer-tools-thin-outline-symbol-inside-a-circle:before { content: "\f1cd"; }
.flaticon-wrench-and-screwdriver-outline-symbol-in-a-square-and-circle-shape:before { content: "\f1ce"; }
.flaticon-wrench-in-a-gear-outline-symbol-in-a-circle:before { content: "\f1cf"; }
.flaticon-wrench-with-right-arrows-settings-interface-symbol:before { content: "\f1d0"; }
.flaticon-write-symbol-on-browser-window-in-a-circle:before { content: "\f1d1"; }
.flaticon-write-text-symbol-in-a-circle:before { content: "\f1d2"; }
.flaticon-writing-text-on-browser-circular-symbol:before { content: "\f1d3"; }
.flaticon-www-presentation:before { content: "\f1d4"; }
    
    $font-Flaticon-100-percent-zoom-symbol: "\f100";
    $font-Flaticon-alien-outline-in-a-circle: "\f101";
    $font-Flaticon-ascendant-line-graphic-on-a-browser-window-inside-a-circle: "\f102";
    $font-Flaticon-backup-thin-outline-symbol-in-a-circle: "\f103";
    $font-Flaticon-basket-commercial-symbol: "\f104";
    $font-Flaticon-battery-outline-in-a-circle: "\f105";
    $font-Flaticon-battery-thin-outline-symbol-in-a-circle: "\f106";
    $font-Flaticon-bricks-outline-symbol-inside-a-circle: "\f107";
    $font-Flaticon-briefcase-in-a-circle: "\f108";
    $font-Flaticon-briefcase-thin-outline-symbol-in-a-circle: "\f109";
    $font-Flaticon-browser-cash-symbol-thin-outline-inside-a-circle: "\f10a";
    $font-Flaticon-browser-chain-symbol: "\f10b";
    $font-Flaticon-browser-circular-symbol: "\f10c";
    $font-Flaticon-browser-code-outline-symbol-in-a-circle: "\f10d";
    $font-Flaticon-browser-download-symbol-in-a-circle: "\f10e";
    $font-Flaticon-browser-download-symbol-in-a-circle-1: "\f10f";
    $font-Flaticon-browser-search-symbol-in-a-circle: "\f110";
    $font-Flaticon-browser-search-symbol-in-a-circle-1: "\f111";
    $font-Flaticon-browser-setting-interface-circular-symbol-of-a-wrench-in-a-window-outlines-inside-a-circle: "\f112";
    $font-Flaticon-browser-setting-thin-outline-symbol-in-a-circle: "\f113";
    $font-Flaticon-browser-settings-circular-interface-symbol: "\f114";
    $font-Flaticon-browser-settings-circular-symbol: "\f115";
    $font-Flaticon-browser-settings-outline-interface-symbol-in-a-circle: "\f116";
    $font-Flaticon-browser-settings-symbol-inside-a-circle: "\f117";
    $font-Flaticon-browser-settings-with-window-and-cogwheel-inside-a-circle: "\f118";
    $font-Flaticon-browser-window-in-a-circle: "\f119";
    $font-Flaticon-browser-window-with-a-settings-gear-and-a-right-arrow-inside-a-circle: "\f11a";
    $font-Flaticon-browser-window-with-business-graphic-in-a-circle: "\f11b";
    $font-Flaticon-browser-window-with-code-signs-in-a-circle: "\f11c";
    $font-Flaticon-browser-with-a-heart-symbol-inside-a-circle: "\f11d";
    $font-Flaticon-browser-with-text-and-pen-tool-variant: "\f11e";
    $font-Flaticon-browsers-windows-in-a-circle: "\f11f";
    $font-Flaticon-business-bars-graphic: "\f120";
    $font-Flaticon-businessman-with-ascending-arrow-stair-in-a-circle: "\f121";
    $font-Flaticon-cellphone-variant-with-cogwheel-symbol-in-a-circle: "\f122";
    $font-Flaticon-cellphone-with-cogwheel-outline-inside-a-circle: "\f123";
    $font-Flaticon-chain-links-symbol-with-plus-signs-in-a-circle: "\f124";
    $font-Flaticon-circles-circle-outline-interface-circular-symbol: "\f125";
    $font-Flaticon-circles-interface-symbol-in-a-circle-for-seo: "\f126";
    $font-Flaticon-circular-eyeglasses-inside-a-circle: "\f127";
    $font-Flaticon-circular-graphic-outline-interface-symbol-in-a-circle: "\f128";
    $font-Flaticon-cloud-laptop: "\f129";
    $font-Flaticon-cloud-wifi-connection-circular-symbol: "\f12a";
    $font-Flaticon-code-info-symbol-in-a-circle: "\f12b";
    $font-Flaticon-coffee-cup-in-a-circle: "\f12c";
    $font-Flaticon-computer-cash-interface-symbol: "\f12d";
    $font-Flaticon-computer-cash-symbol-in-a-circle: "\f12e";
    $font-Flaticon-computer-graphic-on-a-monitor-outline-symbol-in-a-circle-for-interface: "\f12f";
    $font-Flaticon-computer-outline-symbol-inside-a-circle: "\f130";
    $font-Flaticon-computer-setting-outline-interface-symbol-in-a-circle: "\f131";
    $font-Flaticon-computers-monitors: "\f132";
    $font-Flaticon-conversation-bubbles-in-a-circle: "\f133";
    $font-Flaticon-conversation-circular-symbol: "\f134";
    $font-Flaticon-dropbox-in-browser-variant-inside-circle: "\f135";
    $font-Flaticon-dropbox-in-browser-window-circular-symbol: "\f136";
    $font-Flaticon-e-book-outline-interface-symbol-in-a-circle: "\f137";
    $font-Flaticon-eye-watching: "\f138";
    $font-Flaticon-eyeglasses-of-circular-outline-in-a-circle: "\f139";
    $font-Flaticon-favourite-browser-symbol-in-a-circle: "\f13a";
    $font-Flaticon-film-strip-photograms-inside-a-circle: "\f13b";
    $font-Flaticon-folder-outline-inside-a-circle: "\f13c";
    $font-Flaticon-graphic-in-a-circle: "\f13d";
    $font-Flaticon-graphic-with-ascending-line-inside-a-circle: "\f13e";
    $font-Flaticon-hand-cash-circular-symbol: "\f13f";
    $font-Flaticon-hard-drive-circular-symbol: "\f140";
    $font-Flaticon-html-seo-interface-symbol: "\f141";
    $font-Flaticon-http-search-symbol: "\f142";
    $font-Flaticon-info-circular-symbol: "\f143";
    $font-Flaticon-key-outline-password-interface-symbol-inside-a-circle: "\f144";
    $font-Flaticon-key-password-interface-symbol-in-a-circle: "\f145";
    $font-Flaticon-label-inside-a-circle: "\f146";
    $font-Flaticon-laptop-graphic: "\f147";
    $font-Flaticon-laptop-on-cloud-thin-outline-symbol-in-a-circle: "\f148";
    $font-Flaticon-laptop-with-up-arrows-seo-symbol-for-interface: "\f149";
    $font-Flaticon-light-bulb-outline-sign-inside-a-circle: "\f14a";
    $font-Flaticon-light-circular-symbol: "\f14b";
    $font-Flaticon-lightbulb-on-outline-inside-a-circle: "\f14c";
    $font-Flaticon-lightbulb-outline-in-a-circle: "\f14d";
    $font-Flaticon-like-hand-symbol-in-a-circle: "\f14e";
    $font-Flaticon-like-hand-symbol-in-a-circle-1: "\f14f";
    $font-Flaticon-line-graphic-on-a-computer-monitor-in-a-circle: "\f150";
    $font-Flaticon-line-graphic-on-a-monitor-screen-outline-in-a-circle: "\f151";
    $font-Flaticon-link-seo-symbol-for-interface-in-a-circle: "\f152";
    $font-Flaticon-links-add-symbol-in-a-circle: "\f153";
    $font-Flaticon-lock-on-cloud-symbol-outline-inside-a-circle: "\f154";
    $font-Flaticon-lock-settings-interface-circular-symbol: "\f155";
    $font-Flaticon-loudspeaker: "\f156";
    $font-Flaticon-mail-and-phone-outline-symbol-in-a-circle: "\f157";
    $font-Flaticon-map-outline-inside-a-circle: "\f158";
    $font-Flaticon-map-placeholder-on-globe-grid: "\f159";
    $font-Flaticon-map-with-a-pin-small-symbol-inside-a-circle: "\f15a";
    $font-Flaticon-measure-folder-interface-outline-symbol-inside-a-circle: "\f15b";
    $font-Flaticon-microphone-outline-symbol-in-a-circle: "\f15c";
    $font-Flaticon-monitor-and-cellphone-outlines-in-a-circle: "\f15d";
    $font-Flaticon-network-outline-symbol-in-a-circle: "\f15e";
    $font-Flaticon-network-triangular-outline-symbol-in-a-circle: "\f15f";
    $font-Flaticon-no-disturb-symbol-in-a-circle: "\f160";
    $font-Flaticon-open-blank-browser-inside-a-circle: "\f161";
    $font-Flaticon-open-book-outline-variant-inside-a-circle: "\f162";
    $font-Flaticon-open-browser-window-with-text: "\f163";
    $font-Flaticon-people-group-in-a-circle: "\f164";
    $font-Flaticon-people-mail-symbol-in-a-circle: "\f165";
    $font-Flaticon-people-outlines-in-a-circle: "\f166";
    $font-Flaticon-people-reward-symbol-inside-a-circle: "\f167";
    $font-Flaticon-people-speaking-outline-symbol-inside-a-circle: "\f168";
    $font-Flaticon-person-and-connections-outline-symbol-inside-a-circle: "\f169";
    $font-Flaticon-person-in-front-of-the-world-grid-inside-a-circle: "\f16a";
    $font-Flaticon-person-or-personal-setting-outline-symbol-in-a-circle: "\f16b";
    $font-Flaticon-person-or-personal-synchronization-circular-symbol: "\f16c";
    $font-Flaticon-person-outline-with-cogwheel-symbol: "\f16d";
    $font-Flaticon-person-search-symbol-in-a-circle: "\f16e";
    $font-Flaticon-person-security-symbol: "\f16f";
    $font-Flaticon-person-settings-outline-symbol-of-seo-for-interface: "\f170";
    $font-Flaticon-person-speaking-symbol-in-a-circle: "\f171";
    $font-Flaticon-person-speech-circular-symbol: "\f172";
    $font-Flaticon-person-synchronization-symbol-in-a-circle: "\f173";
    $font-Flaticon-person-with-a-cellphone-inside-a-circle: "\f174";
    $font-Flaticon-person-with-a-huge-clock-outlines-in-a-circle: "\f175";
    $font-Flaticon-person-with-an-opened-email-envelope-inside-a-circle: "\f176";
    $font-Flaticon-person-with-calendar-inside-a-circle: "\f177";
    $font-Flaticon-person-with-headset-thin-outline-symbol-in-a-circle: "\f178";
    $font-Flaticon-person-with-speaker-making-announcement-outline-inside-a-circle: "\f179";
    $font-Flaticon-person-with-up-arrow-thin-outline-circular-symbol: "\f17a";
    $font-Flaticon-person-with-up-arrows-outline-symbol-in-a-circle: "\f17b";
    $font-Flaticon-personal-mail-circular-symbol: "\f17c";
    $font-Flaticon-phone-and-computer-monitor-outlines-inside-a-circle: "\f17d";
    $font-Flaticon-phone-outline-in-a-circle: "\f17e";
    $font-Flaticon-pie-chart-in-a-circle: "\f17f";
    $font-Flaticon-pie-circular-graphic-with-bars-in-the-center-part-thin-symbol-outline-inside-a-circle: "\f180";
    $font-Flaticon-plugs-connection-outline-symbol-in-a-circle: "\f181";
    $font-Flaticon-points: "\f182";
    $font-Flaticon-puzzle-piece-outline-inside-a-circle: "\f183";
    $font-Flaticon-question-sign-in-circles: "\f184";
    $font-Flaticon-receiving-hand-outline-with-palm-up-inside-a-circle: "\f185";
    $font-Flaticon-recycle-bin-outline-symbol-inside-a-circle: "\f186";
    $font-Flaticon-reward-symbol-in-a-circle: "\f187";
    $font-Flaticon-robot-outline-in-a-circle: "\f188";
    $font-Flaticon-safebox-outline-variant-inside-a-circle: "\f189";
    $font-Flaticon-science-inbox-symbol-in-a-circle: "\f18a";
    $font-Flaticon-screen-symbol-outline-in-a-circle: "\f18b";
    $font-Flaticon-search-circular-symbol-with-letters: "\f18c";
    $font-Flaticon-search-engine-optimization-drive: "\f18d";
    $font-Flaticon-search-interface-circular-symbol: "\f18e";
    $font-Flaticon-search-key: "\f18f";
    $font-Flaticon-search-key-symbol-in-a-circle: "\f190";
    $font-Flaticon-search-text-symbol-in-a-circle: "\f191";
    $font-Flaticon-seo-graphic-thin-outline-in-a-circle: "\f192";
    $font-Flaticon-seo-label-in-a-circle: "\f193";
    $font-Flaticon-seo-label-tag-inside-a-circle: "\f194";
    $font-Flaticon-seo-landing-pages-symbol-inside-a-circle: "\f195";
    $font-Flaticon-seo-outline-symbol-in-a-circle: "\f196";
    $font-Flaticon-seo-search-symbol: "\f197";
    $font-Flaticon-seo-shopping-symbol: "\f198";
    $font-Flaticon-seo-up-arrows-symbol-in-a-circle: "\f199";
    $font-Flaticon-server-outline-symbol-in-a-circle: "\f19a";
    $font-Flaticon-settings-console-outline-symbol-in-a-circle: "\f19b";
    $font-Flaticon-settings-gear-symbol-outline-in-a-circle: "\f19c";
    $font-Flaticon-settings-gears-outlines-interface-symbol: "\f19d";
    $font-Flaticon-settings-interface-symbol-variant-in-a-circle: "\f19e";
    $font-Flaticon-settings-symbol-with-up-arrow-in-a-circle: "\f19f";
    $font-Flaticon-settings-thin-console-controls-symbol-in-a-circle: "\f1a0";
    $font-Flaticon-shop-settings-circular-symbol: "\f1a1";
    $font-Flaticon-shop-with-cart-in-window-inside-a-circle: "\f1a2";
    $font-Flaticon-shopping-basket-configuration-outline-interface-symbol-in-a-circle: "\f1a3";
    $font-Flaticon-shopping-basket-in-a-circle: "\f1a4";
    $font-Flaticon-skull-outline-with-arroba-sign-in-a-circle: "\f1a5";
    $font-Flaticon-small-person-in-a-circle-surrounded-by-arrows-circular-interface-symbol: "\f1a6";
    $font-Flaticon-speech-bubble-with-person-inside-a-circle: "\f1a7";
    $font-Flaticon-speech-bubbles-outline-symbol-in-a-circle: "\f1a8";
    $font-Flaticon-stars-label-outline-symbol-in-a-circle: "\f1a9";
    $font-Flaticon-stocks-graphic-in-a-circle: "\f1aa";
    $font-Flaticon-target-outline-symbol-in-a-circle: "\f1ab";
    $font-Flaticon-target-outline-symbol-inside-a-circle: "\f1ac";
    $font-Flaticon-target-search: "\f1ad";
    $font-Flaticon-target-square-sign-inside-a-circle: "\f1ae";
    $font-Flaticon-target-symbol-in-a-circle: "\f1af";
    $font-Flaticon-teacher-teaching-to-the-class-circular-symbol: "\f1b0";
    $font-Flaticon-touch-screen-symbol-in-a-circle: "\f1b1";
    $font-Flaticon-usb-connector-thin-outline-symbol-in-a-circle: "\f1b2";
    $font-Flaticon-video-player-outline-interface-symbol-inside-a-circle: "\f1b3";
    $font-Flaticon-wallet-outline-in-a-circle: "\f1b4";
    $font-Flaticon-wifi-outline-symbol-in-a-circle: "\f1b5";
    $font-Flaticon-window-with-a-pencil-in-a-circle: "\f1b6";
    $font-Flaticon-wireless-internet-connection-symbol: "\f1b7";
    $font-Flaticon-wireless-search-symbol-in-a-circle: "\f1b8";
    $font-Flaticon-wireless-target-outline-symbol-in-a-circle: "\f1b9";
    $font-Flaticon-world-browser-interface-symbol-in-a-circle: "\f1ba";
    $font-Flaticon-world-browser-outline-symbol-in-a-circle: "\f1bb";
    $font-Flaticon-world-browser-settings-symbol: "\f1bc";
    $font-Flaticon-world-connection-symbol-in-a-circle: "\f1bd";
    $font-Flaticon-world-globe-surrounded-by-arrows-circle: "\f1be";
    $font-Flaticon-world-grid-and-a-browser-window-inside-a-circle: "\f1bf";
    $font-Flaticon-world-grid-outline-with-drive-and-arrow: "\f1c0";
    $font-Flaticon-world-grid-with-cogwheels-inside-a-circle: "\f1c1";
    $font-Flaticon-world-grid-with-open-browser-in-a-circle: "\f1c2";
    $font-Flaticon-world-inside-a-cogwheel-in-a-black-circle: "\f1c3";
    $font-Flaticon-world-net-circular-symbol: "\f1c4";
    $font-Flaticon-world-person-outline-symbol-in-a-circle: "\f1c5";
    $font-Flaticon-world-security-circular-symbol: "\f1c6";
    $font-Flaticon-world-security-symbol-inside-circle: "\f1c7";
    $font-Flaticon-world-settings-circular-symbol: "\f1c8";
    $font-Flaticon-world-settings-symbol-in-a-circle: "\f1c9";
    $font-Flaticon-world-surrounded-by-arrows-in-all-directions: "\f1ca";
    $font-Flaticon-world-with-a-pin-symbol-in-a-circle: "\f1cb";
    $font-Flaticon-worm-outline-inside-a-circle: "\f1cc";
    $font-Flaticon-wrench-and-hammer-tools-thin-outline-symbol-inside-a-circle: "\f1cd";
    $font-Flaticon-wrench-and-screwdriver-outline-symbol-in-a-square-and-circle-shape: "\f1ce";
    $font-Flaticon-wrench-in-a-gear-outline-symbol-in-a-circle: "\f1cf";
    $font-Flaticon-wrench-with-right-arrows-settings-interface-symbol: "\f1d0";
    $font-Flaticon-write-symbol-on-browser-window-in-a-circle: "\f1d1";
    $font-Flaticon-write-text-symbol-in-a-circle: "\f1d2";
    $font-Flaticon-writing-text-on-browser-circular-symbol: "\f1d3";
    $font-Flaticon-www-presentation: "\f1d4";