.container {
  position: relative;
}

.img { 
  width: 100%;
  height: auto;
  /*//opacity: 0.3;*/
}
.bottom-left{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 12px;
}
.top-left{
  position: absolute;
  margin-top: 0px;
  margin-left: 150px;
  font-size: 12px;
}
.top-right{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 12px;
}
.bottom-right{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
}
.center-center{
  position: absolute;
  /*top: 50%;
  /*width: 100%;*/
  /*//margin-left: 125px;*/
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center!important;
  /*align-items: center!important;*/
}
}
.center-left{
  position: absolute;
  top: 50%;
  /*width: 100%;*/
  margin-left: 125px;
  text-align: center;
  font-size: 12px;
}
.center-right{
  position: absolute;
  top: 50%;
  /*width: 100%;*/
  margin-left: 125px;
  text-align: center;
  font-size: 12px;
}