html,
body {
    height: 100%;   
    font-size: 0.9em; 
}
.mt-2-2{
margin-top:2.2%;
}
.info-box-number {
        font-size: 35px!important;
}
.wrapper {
       overflow-y: hidden!important;
}
.main-header {border-bottom: 1px solid #aaa;
    box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333)}
.skin-blue .main-header .navbar {
   background-color: #FFF!important;
   
    border-bottom: 1px solid #eee;
}
.skin-blue .main-header .navbar .nav>li>a {
    /* color: #fff; 
    line-height: 3.8;*/
}
.no-arrow::after {
content:none!important;
}
.text-logo-color{color:#1abc9c!important;}
.skin-blue .main-header .logo {

    background:#fff!important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
 background-color: #5FB355!important; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #5FB355 , #FAB529)!important; /* Standard syntax (must be last) */
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(0,0,0,0.1)!important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0,0,0,0.1)!important;
}
.skin-blue .sidebar-menu>li>.treeview-menu{
    background:#fff!important;
}
 .skin-blue .sidebar a {
     color: #fff!important;
 }
 .skin-blue .sidebar-menu .treeview-menu>li>a {
     color:#5FB355!important;
 }
 .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
     color:#FAB529!important;
 }
 .skin-blue .main-header li.user-header {
    background: rgb(91,181,84)!important;
    background: radial-gradient(circle, rgba(91,181,84,1) 0%, rgba(252,180,41,1) 100%)!important;
}
.btn-success {
    background-color: #1abc9c!important;
    border-color: #1abc9c!important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.main-header .logo {height:60px!important;}
.main-header .logo img {
    width:100%;    padding: 0px 10px 0px 10px!important;
    height: 100%;
}
.navbar-nav > li > a {
    line-height: 40px!important;
}
.navbar-custom-menu.notifications li{
        top: 0px;
}
.navbar-nav>.user-menu .user-image {
  
    margin-top: 7px!important;
}
.navbar-custom-menu.notifications  li.user {top:0;}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.skin-blue .main-header .navbar .nav>li.user-menu> a:hover {
    background: transparent!important;
}
/*.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {right:unset!important;}*/

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.create {
    text-align: right;
}
.mt-1{
    margin-top:1%;
}
.mt-2-2{
    margin-top:2.2%;
}
.timeline.view>li>.timeline-item label
{
    display:block;
}
aside.main-sidebar {
    background-image: url(../images/background_img.png);
    background-position: center center;
    background-size: cover;
}
aside.main-sidebar:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
       background: rgba(73, 28, 7, 0.8);
    background: -webkit-linear-gradient(45deg, rgba(73, 28, 7, 0.4) 0%, rgba(73, 28, 7, 0.9) 100%) !important;
}
.bg-white {
    background: #fff;
}
.highlight {
    border-color: #f00!important;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:90px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px!important;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 9;
}

.my-float{
    font-size: 20px!important;
    line-height: 50px!important;
}
.add-transporter-icon {
    position: absolute;
    font-size: 14px!important;
    top: 18px;
    left: 21.5%;
    padding: 2px;
    border-radius: 50px;
    width: 18px;
    background: #5FB355;
    height: 18px;
    background-image: linear-gradient(to right, #5FB355 , #FAB529)!important;
}
.top-row{background-color:#f9f9f9!important;}
.top-row i{color:#FAB529;margin-right:2%;font-size:12px}
.sub-row i{color:#FAB529;margin-right:1%;font-size:12px}
.top-row td:nth-child(1) {padding-left:3%}
.sub-row{font-weight:bold;background-color:#fff!important;}
.role-name {
    background:#5FB355!important;
    color:#fff;
    margin: 0 auto;
    width: 75px!important;
    padding: 0!important;
    border: 3px solid #d2d6de;
    height: 75px;
    text-align: center;
    vertical-align: initial;
    font-size: 45px;
    line-height: 72px;
}
.btn-green
{
    color:#fff;
    background: #5FB355;
    border:1px solid transparent;
}
.btn-green:hover
{
    color:#5FB355;
    background: transparent;
    border:1px solid #5FB355;
}
.sidebar .sidebar-background:after {
    background: none!important;
}
.navbar .navbar-brand {
    margin-left:0rem!important;
    font-size: 2rem!important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link .material-icons, .navbar .collapse .navbar-nav .nav-item .nav-link .fa {
    font-size:2rem!important;
}
 .btn.btn-green {
    color: #8b1010;
   
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    background-color: #E98526;
    background-image: linear-gradient(to right, #E98526, #FEBF2C);
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
}

.btn:before, .btn.btn-green:before {
    content: '';
    background-color: #1abc9c;
    background-image: linear-gradient(to right, #4A1B07, #6b2b12);
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
    border-radius: 20px;
}
.wrapper {
    height:auto!important;
}

.view-item {
    margin-top: 15px;
    padding: 20px 20px 0;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.btn.btn-default {
    background-color: #f4f4f4;
    color: #1abc9c;
    border-color: #ddd;
}
.btn-back, .btn-back:hover {
    background: none repeat scroll 0 0 rgb(68, 68, 68);
    color: #FFF;
}
.popover {
    max-width:700px!important;
    height:380px!important;
    overflow:auto;
}
.popover-x.top {
     margin-top: 30px; 
}
.btnlink {
color:#72afd2;
background: transparent;
border:none;
font-weight:600;
font-size: 12px;
}

.dropdown-menu>li>a:hover {
    background-color: transparent!important;
    border: 1px solid #1abc9c!important;
}
.skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
  /* background: linear-gradient(to right, #C874B2 0%, #210535 100%)!important;
   
    color: #440C4D !important;*/
    /*background: linear-gradient(to right, #C874B2 0%, #210535 100%)!important;*/
    background: #1abc9c!important;
    color: #f6f6f6!important;
    /*-webkit-text-fill-color: transparent*/
}

.skin-blue .content-header {
    color: #fff;
    background: #1abc9c!important;
    padding: 15px 15px 15px 45px!important;
}
 .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2);
    content: '';
}
.vertical-tab{
    font-family: 'Noto Sans', sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
    display: table-cell;
    width: 28%;
    min-width: 28%;
    vertical-align: top;
    border: none;
    position: relative;
    z-index: 1;
}
.vertical-tab .nav-tabs:after{
    content: '';
    background-color: #fff;
    height: 5%;
    width: 20px;
    transform: translateX(-50%);
    position: absolute;
    left: calc(50% - 10px);
    top: 0;
    z-index: -1;
}
.vertical-tab .nav-tabs li{
   float: none;
   vertical-align: top;
}
.vertical-tab .nav-tabs li a{
    color: #222;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    margin: 0 15px 15px 0;
    border-radius: 10px 0 0 10px;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
.vertical-tab .nav-tabs li:last-child a{ margin-bottom: 0; }
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #fff;
    background-color: rgba(73, 28, 7, 1);
    border: none;
}
.vertical-tab .nav-tabs li a:before{
    content: "";
    background-color: #fff;
    width: 0;
    height: 15px;
    opacity: 0;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li.active a:hover:before{
    opacity: 1; background-color: rgba(73, 28, 7, 1);
    width: 15px;
}
.vertical-tab .tab-content{
   /* color: #fff;
    background: repeating-linear-gradient(to right,#333,#333 10%,#393939 10%,#393939 20%);*/
   /* font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;*/
    padding: 20px 20px 10px;
    margin-top: 10px;
    border-radius: 0 15px 15px 0;
    display: table-cell;
    /*position: relative;*/
}
.vertical-tab .tab-content h3{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
@media only screen and (max-width: 479px){
    .vertical-tab .nav-tabs{
        width: 100%;
        margin: 0 0 15px;
        border: none;
        display: block;
    }
    .vertical-tab .nav-tabs:after{ left: 50%; }
    .vertical-tab .nav-tabs li a{
        margin: 0 0 15px;
        border-radius: 10px 10px 0 0;
    }
    .vertical-tab .nav-tabs li a:before{
        width: 15px;
        height: 0;
        transform: translateY(0) translateX(-50%) rotate(90deg);
        top: 100%;
        left: 50%;
    }
    .vertical-tab .nav-tabs li.active a:before,
    .vertical-tab .nav-tabs li.active a:hover:before{
        height: 15px;
    }
    .vertical-tab .tab-content{
        padding: 25px 20px;
        margin-top: 0;
        border-radius: 0 0 15px 15px;
        display: block;
    }
    .vertical-tab .tab-content h3{ font-size: 18px; }
}
#page-title {
    top: -122px;
    margin-bottom: -122px;
    position: relative;
    padding: 220px 0 160px;
}
#page-title[data-parallax-image], [data-parallax-image] {
    background-color: #333;
}
.background-overlay:before {
    background: url(../images/overlay-pattern/overlay-pattern-1.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .8;
    min-height: 2000px;
}
#page-title .page-title {
    text-align: center;
    padding: 0;
}
#page-title[data-parallax-image] .page-title>h1 {
    color: #fff;
}
#page-title .page-title>h1 {
    font-family: Poppins,Helvetica,Arial,sans-serif;
    font-size: 44px;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 10px;
}
.h1:not(:last-child), h1:not(:last-child) {
    margin-bottom: 20px;
}
.text-medium {
    font-size: 50px!important;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}
.text-uppercase {
    text-transform: uppercase!important;
}
#page-title[data-parallax-image] .page-title>span {
    color: #fff;
}
#page-title .page-title>span {
    font-weight: 400;
    font-size: 14px;
}
.btn-primary {
    background-color: #E98526!important;
    border-color: #E98526!important;
}
.chat .item>.message {
    margin-left: 55px;
    margin-top: -29px!important;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 10px;
}
.bg-transparent {
    background: transparent;
}
.border-1{
    border: 1px solid #E98526!important;
}
.text-orange {
    color:#E98526;
}
.d-inline{display:inline-block;}
.d-flex{display:flex;}
.u-shadow-v11 {
    box-shadow: 0 0 2px #ccc;
}
.rounded {
    border-radius: .25rem!important;
}
.g-pa-30 {
    padding: 2.14286rem !important;
}
.g-brd-gray-light-v4 {
    border-color: #eee !important;
}
.d-block {display:block;}
table img {
    max-width: 100%;
}
.claro-details {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #222330;
    border: 1px solid rgba(216, 217, 224, 0.8);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

details {
    display:block; 
    width:100%;
    margin:10px 0;
    line-height: 1.295em;
}
.claro-details[open] > .claro-details__summary {
    border-radius: 1px 1px 0 0;
}
.claro-details__summary p{line-heigh: 20px}
.claro-details__summary {
    position: relative;
    box-sizing: border-box;
    padding: 1rem 1rem 0rem 2.25rem;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.12s ease-in-out;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #545560;
    border-radius: 1px;
    background-color: transparent;
    line-height: 1rem;
}
summary {
    display:block; 
    color:white;
    border-radius:5px;
    padding:5px;
    cursor:pointer;font-weight:bold;
}
.form-item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.claro-details[open] > .claro-details__summary::before {
    transform: rotate(90deg);
}
.claro-details__wrapper {
    margin: 1.5rem 2.25rem;
}
.claro-details__summary::before {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: -0.5rem;
    content: "";
    transition: transform 0.12s ease-in 0s;
    transform: rotate(0);
    text-align: center;
    background-size: contain;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%23545560'/%3E%3C/svg%3E") no-repeat 50% 50%
}

.claro-details__summary::after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    opacity: 0;
    border-radius: 2px;
    box-shadow: inset 0 0 0 3px #26a769;
}

summary::-webkit-details-marker {
   color:#FF0000; 
   background:#FFFFFF; 
}

details[open] summary::-webkit-details-marker {
   color:#0000FF; 
   background:#00FFFF;
}
summary::-webkit-details-marker {
   display: none
}

summary:after {
   content: "+";
   color: #FFFFFF;
   float: left;
   font-size: 1.5em;
   font-weight: bold;
   margin: -5px 5px 0 0;
   padding: 0;
   text-align: center;
   width: 20px;
}

details[open] summary:after {
   content: "-";
  color: #FFFFFF
}
.form-item__label[for] {
    cursor: pointer;
}
.form-item__label {
    display: table;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.125rem;
}
.form-item__description {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    color: #545560;
    font-size: 0.85rem;
    line-height: 1.0625rem;
    letter-spacing: 0.3px;
}
.accordion {
    color: #222330;
    border: 1px solid rgba(216, 217, 224, 0.8);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.accordion__item:first-child {
    margin-top: -1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.entity-meta__header {
    padding: 1rem 1.5rem 1.5rem;
}
.entity-meta__header {
    padding: 0.5rem 1rem 1rem;
    color: #222330;
    border: 1px solid rgba(216, 217, 224, 0.8);
    border-radius: 2px;
    background-color: #fff;
}
.accordion__item {
    margin: 0px;
    border-radius: 0;
}
.block-with-background {
    position: relative;
    border: none;
    padding: 0;
    color: #fff;
}
}
.block-with-background figure .field--name-field-image {
    float: none;
    max-width: none;
    margin: 0;
}
.block-with-background figure .field--name-field-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.block-with-background figure figcaption {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
.navbar-collapse{
    padding-right: 0!important;
    padding-left: 0!important;
}
.g-mb-40 {
    margin-bottom: 2.85714rem !important;
}
.u-heading-v3-1 {
    border-bottom: 1px dotted #ccc;
}
.u-heading-v3__title {
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 0;
    padding-bottom: 0.71429rem;
    border-bottom: 1px solid #e7a54f;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7{
    line-height: 1.4;
}
.h3{
    font-size: 1.75rem;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff!important;
    background-color: #1abc9c!important;
}
/********sidebar************/
aside.main-sidebar {
    background-image: url(../images/157536797087685433.png);
    background-position: center center;
    background-size: cover;
}
aside.main-sidebar:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(#324DB2,#38794F)!important;
   
}
.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
    background: #fff!important;
    padding-top: 0!important;
}
.control-sidebar {
    z-index: 11111!important;
    height: 100%;
}
.overlay.show {
    opacity: 1;
    z-index: 9999;
    display: block;
}
.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
.show {
    display: block !important;
}

.rounded-circle {
    border-radius: 50% !important;
}
figure.avatar.avatar-lg {
    height: 4.8rem;
    width: 4.8rem;
}
figure.avatar>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
figure.avatar.avatar-state-danger, figure.avatar.avatar-state-dark, figure.avatar.avatar-state-info, figure.avatar.avatar-state-light, figure.avatar.avatar-state-primary, figure.avatar.avatar-state-secondary, figure.avatar.avatar-state-success, figure.avatar.avatar-state-warning {
    position: relative;
}
figure.avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3.3rem;
    width: 3.3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.mb-4, .my-4 {
    margin-bottom: 1rem !important;
}
.p-4 {
    padding: 1rem !important;
}
figure.avatar.avatar-lg.avatar-state-danger:before, figure.avatar.avatar-lg.avatar-state-dark:before, figure.avatar.avatar-lg.avatar-state-info:before, figure.avatar.avatar-lg.avatar-state-light:before, figure.avatar.avatar-lg.avatar-state-primary:before, figure.avatar.avatar-lg.avatar-state-secondary:before, figure.avatar.avatar-lg.avatar-state-success:before, figure.avatar.avatar-lg.avatar-state-warning:before {
    width: 1.3rem;
    height: 1.3rem;
    right: 4px;
}
.g-mb-30 {
    margin-bottom: 2.14286rem !important;
}
.g-font-weight-300 {
    font-weight: 300 !important;
}
.g-font-size-20 {
    font-size: 1.42857rem !important;
}

.g-py-25 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.g-color-black {
    color: #000 !important;
}
.g-rounded-10 {
    border-radius: 10px !important;
}
.g-bg-gray-light-v4 {
    background-color: #eee !important;
}
.g-line-height-1 {
    line-height: 1 !important;
}
.d-block {
    display: block!important;
}
.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.g-mb-10 {
    margin-bottom: 0.71429rem !important;
}
.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.g-font-weight-700 {
    font-weight: 700 !important;
}
.g-font-size-12 {
    font-size: 12px!important;
}
.g-font-size-2 {
    font-size: 2rem!important;
}
body.no-scroll {
    overflow: hidden;
}

/*********sidebar***********/
/***********Slider************/
.grid-margin {
    margin-bottom: 1.875rem;
}
.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}
.bg-success {
    background-color: #394493!important;
    background: -webkit-linear-gradient(90deg, rgba(231, 165, 79, 0.9) 0%, rgba(224, 129, 13, 0.8) 100%) !important;
}
.border-0 {
    border: 0 !important;
}
.d-flex {
    display: flex !important;
}

.flex-wrap, .jsgrid .jsgrid-pager {
    flex-wrap: wrap !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.align-items-center{
    align-items: center !important;
}

.d-flex, .loader-demo-box, .distribution-chart-legend .distribution-chart, .distribution-chart-legend .distribution-chart .item, .list-wrapper ul li, .email-wrapper .mail-sidebar .menu-bar .profile-list-item a, .email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user, .email-wrapper .mail-list-container .mail-list .details, .email-wrapper .message-body .attachments-sections ul li .thumb, .email-wrapper .message-body .attachments-sections ul li .details .buttons, .lightGallery .image-tile .demo-gallery-poster, .swal2-modal, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    display: flex !important;
}
.flex-wrap, .jsgrid .jsgrid-pager {
    flex-wrap: wrap !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.align-items-center, .loader-demo-box, .distribution-chart-legend .distribution-chart .item, .list-wrapper ul li, .email-wrapper .message-body .attachments-sections ul li .thumb, .email-wrapper .message-body .attachments-sections ul li .details .buttons, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile, .horizontal-menu .top-navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item, .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    align-items: center !important;
}
@media (min-width: 1200px)
{
    .flex-xl-row {
    flex-direction: row !important;
}
}

@media (min-width: 768px)
{
.flex-md-column {
    flex-direction: column !important;
}
    
}
.icon-rounded-inverse-success.icon-rounded-lg {
    width: 3.75rem;
    height: 3.75rem;
}
.icon-rounded-inverse-success {
    background: white;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.icon-rounded-inverse-success.icon-rounded-lg i {
    font-size: 1.625rem;
}
.m-auto {
    margin: 0 auto;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0;
}
.card .card-body {
    padding: 1.25rem 1.75rem;
}
.mr-1, .mx-1 {
    margin-right: 0.25rem !important;
    margin-top: 1rem!important;
}
.text-white {
    color: #ffffff !important;
}
.border-radius-2 {
    border-radius: 2rem!important;
}
.icon img {
    width: 60%;margin: 0 auto;
    padding-top: 10px;
}
/*********************/
.fontAwesome {
  font-family: "FontAwesome";
}
.content-wrapper {
    min-height: calc(100vh - 101px)!important;
}
.modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: none!important;
}
.modal-header .close {
    margin: -12px!important;
}
.cr-boundary {
    border: 3px solid #000!important;
}
/********************/

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}
.btn.disabled, .btn[disabled] {
    cursor: pointer;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black!important;
    opacity: 1!important;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.stepwizard-step .btn{padding:4px 9px!important;color:#fff;}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.pb-20 {
     padding-bottom: 30px;
}
.modal-footer {background: #fff}
.modal-content {
    box-shadow: unset!important;
}
.dataTables_wrapper>.row{
    width:100%;margin-bottom:20px;
}
.dataTables_filter input[type="search"]::before{
    content:"Search:";
}
input[type="search"]::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}
.dataTables_filter input[type="search"], .dataTables_length select{
    /*display: block;
    width: 100%;*/
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;margin: 0 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.fade.in {
    opacity: 1!important;
}

.starsigns-list .taxonomy-term--teaser article span.nav-link, .starsigns-list .taxonomy-term--teaser span.btn, article .starsigns-list .taxonomy-term--teaser span.nav-link {
    position: inherit;
    bottom: 30px;
    min-height: 32px;
    left: 1rem;
    right: 1rem;
    margin: 1rem 0;
}
 article .nav-link, ul.pager>li>a {
    display: inline-flex;
    min-height: 54px;
    align-items: center;
    justify-content: center;
    padding: .25rem 2rem;
    background: #e6a34b;
    border-radius: 0;
    border: 2px solid #e6a34b;
    line-height: 1.3125;
    color: #191919;
}

.taxonomy-term--teaser.vocabulary-starsign .content{
    min-height:auto;
}
.dt-button, a.paginate_button {
    background-image: linear-gradient(180deg, #e7a54f, #e7a54f)!important;
    border:0;
    color: #fff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#fff!important;}
.btn.btn-orange {
    color: #8b1010;
   
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    background-color: #FAB529;
    
}

.btn:before, .btn.btn-orange:before {
    content: '';
    background-color: #FAB529;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
   
}
/***04-12-2020****/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff!important;
    background-color: #e7a54f!important;
    border-radius: 30px;
    /*-webkit-text-fill-color: transparent;*/
    
    
}
.nav-pills > li > a{
    /*padding: 4px 20px!important;
    line-height: 1.5;
    border: 0!important;
    color: #e7a54f!important;
*/
    color: #1abc9c  !important;

-webkit-background-clip: text!important;
/*-webkit-text-fill-color: transparent;*/

}
.dropdown-toggle::after {content:none!important;}
.order-heads{border-bottom:1px #e7a54f dashed;padding-bottom: 5px;color: #e7a54f}

div.dataTables_length select {
   
    display: inline;
}
/*********************17-12-2020**********************/

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu.dropdown-user {
border-radius: 10px;
padding:12px 8px;
}
.dropdown-user {
    width: 260px;
    margin-top:20px!important;
}

.dropdown-user .dropdown-item{
padding: 0.6rem 1.5rem
}
.dropdown-menu {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 11px rgba(0,0,0,.15)!important;
    padding-bottom: 8px;
    margin-top: 3px;
}
.dropdown-menu.dropdown-user::before{
   right: 10px;
    top: -8px; left:unset;
}
.skin-blue .main-header .navbar .nav .user-menu.open>a{
background: transparent!important;
}
li.user.user-menu > a :hover{
    background: transparent;
}
li.user.user-menu > a {
    padding-top:10px;
}
.user-box {
    display: flex;
    padding: .25rem 1rem;
}
.avatar-lg {
    width: 3.75rem;
    height: 3.75rem;
}
.user-box .u-text {
    padding: 0 10px;
}
.user-box .u-text h4 {
    margin-bottom: 5px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.user-box .u-text .text-muted {
    font-size: 12px;
    margin-bottom: 5px;
}
.dt-buttons {
    display: inline;
}
.datepicker.datepicker-dropdown{
    z-index:9990!important;
}
.datepicker-dropdown.datepicker-orient-top:before{
    border-top:0!important;
}
.table > tbody > tr > td{
overflow-wrap: anywhere;
}
i.kv-dp-icon {
    position: relative;
    left: -7px;
    top: 3px;
}
.disabled {
    pointer-events: none;
}
.check_box label{
margin-right:10px;padding-top: 5px;
}
.check_box input[type="checkbox"]{
    vertical-align: text-top;margin:0;

}
form div.required label.control-label:after {
    content:" * ";
    color:red;
}
