    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bunch-of-grapes:before { content: "\f100"; }
.flaticon-corkscrews-and-bottle-of-wine:before { content: "\f101"; }
.flaticon-glass-and-bottle-of-wine:before { content: "\f102"; }
.flaticon-glass-of-wine:before { content: "\f103"; }
.flaticon-glass-of-wine-1:before { content: "\f104"; }
.flaticon-glass-with-wine:before { content: "\f105"; }
.flaticon-glass-with-wine-1:before { content: "\f106"; }
.flaticon-glasses-with-wine:before { content: "\f107"; }
.flaticon-ice-bucket-and-bottle:before { content: "\f108"; }
.flaticon-sorkscrew:before { content: "\f109"; }
.flaticon-wine-barrel:before { content: "\f10a"; }
.flaticon-wine-bottle:before { content: "\f10b"; }
.flaticon-wine-bottle-1:before { content: "\f10c"; }
.flaticon-wine-bottles:before { content: "\f10d"; }
.flaticon-wine-list:before { content: "\f10e"; }
    
    $font-Flaticon-bunch-of-grapes: "\f100";
    $font-Flaticon-corkscrews-and-bottle-of-wine: "\f101";
    $font-Flaticon-glass-and-bottle-of-wine: "\f102";
    $font-Flaticon-glass-of-wine: "\f103";
    $font-Flaticon-glass-of-wine-1: "\f104";
    $font-Flaticon-glass-with-wine: "\f105";
    $font-Flaticon-glass-with-wine-1: "\f106";
    $font-Flaticon-glasses-with-wine: "\f107";
    $font-Flaticon-ice-bucket-and-bottle: "\f108";
    $font-Flaticon-sorkscrew: "\f109";
    $font-Flaticon-wine-barrel: "\f10a";
    $font-Flaticon-wine-bottle: "\f10b";
    $font-Flaticon-wine-bottle-1: "\f10c";
    $font-Flaticon-wine-bottles: "\f10d";
    $font-Flaticon-wine-list: "\f10e";