	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:13
  	*/

@font-face {
  font-family: "Wine";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Wine";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="wine-"]:before, [class*=" wine-"]:before,
[class^="wine-"]:after, [class*=" wine-"]:after {   
  font-family: Wine;
 /* font-size: 20px;*/
  font-style: normal;
  /*margin-left: 20px;*/
}

.wine-bunch-of-grapes:before { content: "\f100"; }
.wine-corkscrews-and-bottle-of-wine:before { content: "\f101"; }
.wine-glass-and-bottle-of-wine:before { content: "\f102"; }
.wine-glass-of-wine:before { content: "\f103"; }
.wine-glass-of-wine-1:before { content: "\f104"; }
.wine-glass-with-wine:before { content: "\f105"; }
.wine-glass-with-wine-1:before { content: "\f106"; }
.wine-glasses-with-wine:before { content: "\f107"; }
.wine-ice-bucket-and-bottle:before { content: "\f108"; }
.wine-sorkscrew:before { content: "\f109"; }
.wine-wine-barrel:before { content: "\f10a"; }
.wine-wine-bottle:before { content: "\f10b"; }
.wine-wine-bottle-1:before { content: "\f10c"; }
.wine-wine-bottles:before { content: "\f10d"; }
.wine-wine-list:before { content: "\f10e"; }